<% ri = ri || @recipe_ingredient %>
<li id="ingredient_<%=ri.id%>" class="ingredient"><%= "#{ri.quantity} #{ri.measure} #{ri.ingredient.nil? ? 'no name ingredient' : ri.ingredient.name}" %><%= (ri.alternate and ri.alternate.size > 0) ? " or #{ri.alternate}":'' %><%= (ri.notes and ri.notes.size > 0) ? ", n: #{ri.notes}" : '' %><%= (ri.shopping_notes and ri.shopping_notes.size > 0) ? ", sn: #{ri.shopping_notes}" : '' %> <%= link_to 'Edit', :action => 'edit_recipe_ingredient', :id => ri.id %> <%= link_to_remote 'Remove', :url => { :action => 'remove_ingredient_from_recipe', :recipe_id => ri.recipe.id, :recipe_ingredient_id => ri.id }, :confirm => 'Are you sure you want to remove this ingredient?', :method => 'post' %> <%= link_to_remote ( image_tag( 'admin/up_arrow', :style => 'border: 0px'), :url => { :action => :move_ingredient_higher, :id => ri.id } )%> <%= link_to_remote (image_tag('admin/down_arrow', :style => 'border: 0px'), :url => { :action => :move_ingredient_lower, :id => ri.id } )%></li>
