<div id="page_header"> <%= image_tag 'member/favorites_header', :alt => "Favorites", :class => 'page_header' %></div>
<%= render :partial => "main_menu" %>
<p>
<%= render :partial => "favorites" %>
</p>