<%= @message.gsub!(/\n/, '<br />') %><br />
<br />
<%= %Q|To Join me in saving time and money click here now <a href="http://ebtchef.com/ect?referrer_id=#{@user.id}&c=viral&utm_source=viral&utm_medium=email">Everything but the Chef</a>| %>