<body style="text-align: center;">
<div style="margin: 0px auto;padding: 0px; width: 613px; text-align: left;">
  <p style="border: 0; margin: 0;"><img alt="Header_1" src="http://new.ebtchef.com/images/emails/surveydeal/header_1.png?1154440521" style="margin: 0px; padding: 0px;" /></p>
  <div style="border-right: 1px solid #999; border-left: 1px solid #999; color: #808080;font-family: arial, verdana, helvetica, sans-serif;font-size: .8em;margin: 0px auto; padding: 0px; width: 611px;">
    <div style="float: left;">
      <p><img alt="Left_picture" src="http://new.ebtchef.com/images/emails/surveydeal/left_picture.png?1154440521" style="float: left; margin: 7px 0 0 7px; width: 157px;" /></p>
    </div>
    <div style="padding: 0 20px; color: #333; background-color: #fff; width: 396px; word-spacing: .25em; line-height: 1.3em; float: right;">
      <img alt="Greetings_from_the_chef" src="http://new.ebtchef.com/images/emails/surveydeal/greetings_from_the_chef.png?1154440521" style="margin: 22px 0 22px 80px;" />
      <hr style="background-color: #5c020b; height: 1px; padding: 0px; margin: 0px auto; width: 308px; border: 0px;">
      <p style="margin: 15px auto;">
        We are so grateful for your patience and the information you provided us with when you took our online survey some time ago. Because we received feedback that was very helpful we have been working hard to upgrade, yet simplify our service.
      </p>
      <p style="margin: 0px auto; font-weight: bold;">
        Please let us:
        <ul style="margin: 0px auto;">
          <li>Take the hassle out of planning meals</li>
          <li>Improve your organization</li>
          <li>Give you tons of variety</li>
          <li>Introduce your kids to something new that they may actually like!</li>
          <li>Give you quick email responses to your recipe questions</li>
        </ul>
      </p>
      <p style="margin: 0px auto 15px;">
        A subscription to our innovative, inexpensive online family service, <em>Everything but the Chef</em>, makes it all possible.  We take the hassle out and leave the enjoyment of family time to you, providing meals every week of the year, and family fun ideas.
      </p>
      <p style="margin: 15px auto; color: #45616c; font-weight: bold;">
        As promised here is your coupon for joining our service at a savings of more than 60% off our previous subscription price. <span style="color: #5c020a;">Enjoy!</span>
      </p>
      <a href="https://new.ebtchef.com/public/signup?c=survey&e=<%=@user.email%>&h=<%=Promo.gen_hash('survey', @user.email)%>"><img src="http://new.ebtchef.com/images/emails/surveydeal/60_percent_off.png" alt="Get 60% off regular price!" style="border: 0px;"></a>
      <p style="margin: 15px auto; color: #5c020a;">
        As a special bonus for waiting - if you sign up now as we work on perfecting the latest and greatest in <em>Chef</em> service we invite you to come <span style="font-weight: bold;">join us for a month FREE!</span> And you may never have to pay for the Chef service at all because it is easy to get it FREE FOREVER - Sign up now to learn how!
      </p>
      <p>
        Make sure and take advantage of this one time special offer and let the <em>Chef</em> help you look good while strengthening your family!
      </p>
      <a href="https://new.ebtchef.com/public/signup?c=survey&e=<%=@user.email%>&h=<%=Promo.gen_hash('survey', @user.email)%>"><img src="http://new.ebtchef.com/images/emails/surveydeal/sign_up_now.png" alt="sign up NOW to learn how!" style="border: 0px;" /></a>
      <img src="http://new.ebtchef.com/et<%=@type%>?s=<%=@user.id%>&e=<%=@email_id%>" style="width: 1px; height: 1px;" />
    </div>
    <p style="border: 0; margin: 0;"><img alt="Everything but the Chef - Helping you make family memories one meal at a time!" src="http://new.ebtchef.com/images/emails/surveydeal/footer.png?1154440521" style="margin: 22px auto 0;" /></p>
  </div>
</div>
</body>