Dear <%= @user.first_name.capitalize %>,

Congratulations and Welcome to Everything but the Chef -  the fastest growing meal planning community on the web. We are confident that you will find your experience enjoyable and we look forward to serving you and your family for years to come.

Your first payment has been made, but did you realize how EASY it actually is to get the Chef service for free.  Find out at our website, http://ebtchef.com/member/main/viral .

Watch for regular Chef service upgrades and best to you in your Cooking Adventures,

Chef
