<h2>Change Password for <%= @user.email %></h2>

<%= "<div class=\"flashNotice\">#{flash[:notice]}</div>" if flash[:notice] and !flash[:notice].empty? %>

<%= start_form_tag :action => 'change_password', :id => @user.id %>
<div>
  <label for="password">New Password:</label>
  </div>
<div>
  <%= text_field_tag :password %>
</div>
<div>
  <%= submit_tag 'Change Password' %> <%= link_to 'do not change password', :action => 'index' %>
</div>
<%= end_form_tag %>
