<%= link_to 'Meal Plans', :controller => '/admin/meal_management/weekly_meal_plan', :week => (params[:week] ? params[:week] : 0) %> ||
<%= link_to 'Recipes', :controller => '/admin/meal_management/recipe' %> ||
<%= link_to 'Ingredients', :controller => '/admin/meal_management/ingredient' %>
