<div><%= image_tag 'signup/14_day_trial_2.jpg', :alt => 'For a Limited Time Only FREE No Risk 14 day trial' %></div>
        <div id="guarantee_text">
          You're going to love our service because we take the hassle out of planning meals, improve organization, and make you look good! To prove it we'll give you this service free for 14 days, <i>plus</i> a sampling of our e-cookbook  <b><i>"Start Your Little Engines - Family Breakfast Recipes!"</i></b>, so you can begin spending more valuable mealtime with your family NOW.
        </div>