<div class="clearfix">
  <div id="monthly_promo"><label for="offer_monthly">Sign me up for a <span style="font-weight: bold;">FREE 14 day trial.</span> Following the trial I will be billed a <span style="font-weight: bold;">monthly subscription of</span> only $4.95 (more than 50% savings off original price).</label></div>
  <%= radio_button_tag 'offer', 'monthly', true %>          
</div>
